﻿@model List<ProductDto>

<div class="container">
<h1>Product View</h1>

    <div class="row">
        <div class="row padding">
    @foreach (var product in Model)
    {
      <div class="col-6 col-md-3 col-lg-2">
        <div class="card">
            <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <h6 class="card-subtitle mb-2 text-muted">@product.CategoryName</h6>
                @if (product.Price.HasValue)
                {
                    <h6 class="card-subtitle mb-2 text-muted">@product.Price.Value.ToString("C")</h6>
                }
                else
                {
                    <h6 class="card-subtitle mb-2 text-muted">Not available</h6>
                }
            </div>
        </div>
      </div>
    }
        </div>
    </div>
</div>
